@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tomorrow", sans-serif;
}

.App {
  background: #14172b;
  min-height: 100vh;
  @apply pb-10
}

.text-primary {
  font-weight: 600;
  font-size: 16px;
  color: #ecf0ff;
}
.text-secondary {
  font-weight: 600;
  font-size: 12px;
  color: #737bae;
}
.text-success {
  @apply text-secondary;
  color: #00ffa3;
}
.text-warning {
  @apply text-secondary;
  color: #ff4d4d;
}

.card {
  background: url("./assets/card.svg") no-repeat;
  min-width: 290px;
  max-width: 290px;
  height: 350px;
  @apply flex-1 justify-center flex flex-col items-center relative;
}

.card__detail {
  width: 242px;
  background: linear-gradient(0deg, #14172b, #14172b),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
  @apply rounded-2xl flex justify-center  items-center py-2 w-3/4;
}

.card__avatar {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  width: 100px;
  height: 100px;
  left: 51%;
  transform: translate(-50%, 0);
  @apply rounded-full absolute -top-12 flex justify-center items-center;
}

.card__thumbnail {
  width: 22px;
  height: 22px;
}
